*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.first{
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.logo {
    width: 100%;
   height: 150px;
   display: flex;
   justify-content:space-evenly;
   
   line-height: 100px;
   margin-top: 20px;
  
}
.logo img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.logo a{
text-transform: capitalize;
   text-decoration: none;
   color: white;
margin-left: 40px;
   font-weight: 900;
   text-align: center;
   font-size: 25px;
}
.logo a:hover{
    color: yellow;
}
.sec1{
    width: 40%;
    height: auto;
}
.sec1 h1{
    font-size: 80px;
    margin-top: 70px;
    text-transform: capitalize;
    margin-left: 40px;
    text-align: center;
}
.sec1 button{
    width: 170px;
    height: 50px;
    background-color: gray;
    font-size: 20px;
    color: black;
    font-family: Impact, Haettenschweiler, sans-serif;
    font-weight: 00;
    margin-left: 20px;

}
.btn{ 
    margin-top: 40px;
    display: flex;
}
#order{
    margin-left: 100px;
    border: 2px solid rgb(214, 9, 43);
    color: black;
    cursor: pointer;
}
#order:hover{
    border: 2px solid white;
}
#more{
    border: 2px solid rgb(4, 244, 4);
    text-align: center;
    cursor: pointer;
    letter-spacing: 3px;
    padding-bottom: 10px;
  color: white;
  letter-spacing: 2px;
}
#more:hover{
    border : 2px solid black;
}
.sec1 span{
    color: red;
}
.sec1 p{
    color: white;
}
.sec2{
    width: 60%;
    height: 70vh;
    margin-left: 60px;
    display: flex;
    margin-left: 300px;
}

.sec2{
    background-image: url("/580b57fcd9996e24bc43c1b5.png");
    background-size: 100% 100%;
    animation: imgside 35s infinite ;
   animation-timing-function: step-start;
}
@keyframes imgside {
   0%{
    background-image: url("/580b57fcd9996e24bc43c1b6.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
   } 
   25%{
    background-image: url("/580b57fcd9996e24bc43c1b9.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
   } 
   50%{
    background-image: url("/580b57fcd9996e24bc43c1bc.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
   }
   70%{
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("/580b57fcd9996e24bc43c1bc.png");
   }
   100%{
    background-image: url("/580b57fcd9996e24bc43c1b6.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
   }  

}
.sec2 img{
    width: 300px;
    text-align: center;
}
.flex{
    width: 100%;
    height: auto;
    display: flex;
}


@media (max-width:700px){
    .main{
        width: 100%;
        height: 100%;
    }
    .first{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column; 
}
.logo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link a{
    display: block;
}
.flex{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec1{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec1 h1{
    width: 100%;
}
.btn{
    margin-right: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2{
    width: 100%;
    height: 60vh;
    margin-top: 30%;
    margin-bottom: 20%;
}
.sec2{
    background-image:url("/580b57fcd9996e24bc43c1b5.png");
}
}